<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts :: header"></head>
	<body>
		<nav th:replace="layouts :: navbar"></nav>
		
		<div class="container">
			<h4> Employee Directory </h4>
			<hr>
			
			<!-- Add New Employee Button -->
			<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th> First Name</th>
						<th> Last Name</th>
						<th> Email Address </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="anEmployee : ${employees}">
						<td th:text="${anEmployee.firstName}"/>
						<td th:text="${anEmployee.lastName}"/>
						<td th:text="${anEmployee.email}"/>
					</tr>
				</tbody>
			</table>
		</div>
	
	</body>
</html>